/************ TopBAR ************/
.TopBar {
  height: 50px;
  color: #fff;
  background-color: #242424;
  border-bottom: 0.1px solid #1d1c1c;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 15px;
  align-items: center;
}

.logo {
  margin-left: 15px;
}

.logOut {
  margin-right: 15px;
  font-size: small;
}

.loggedInUser {
  width: auto;
  color: aquamarine;
}

.loggedInUser p {
  float: right;
}
